//Media
$desktopLrg: 1920px;
$desktopDef: 1440px;
$notebook: 1024px;
$tablet: 768px;
$mobileLrg: 578px;
$mobileDef: 480px;
$mobileSml: 360px;

//Colors
$black: #1B1B1B;
$white: #ffffff;
$grey: #767676;
$light-grey: #A8A8A8;
$current: #9B51E0;
$error: #FF0101;
